<%= link_to("<<Back to List", {:action => 'list', :post_id => @post.id}, :class => 'back-link') %>

<div class="comment show">
  <h2>Show Comments</h2>
  <table summary="Comment detail view">
    <tr>
      <th>Position</th>
      <td><%= @comment.position %></td>
    </tr
    <tr>
      <th>Comments</th>
      <td><%= @comment.content %></td>
    </tr>
    <tr>
      <th>Author</th>
      <td><%= @comment.author %></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><%= @comment.email %></td>
    </tr>
    <tr> 
      <th>Created</th>
      <td><%= @comment.created_at %></td>
    </tr> 
    <tr>
      <th>Updated</th>
      <td><%= @comment.updated_at %></td>
    </tr>
  </table>
</div>
