<%= @page_title = "Posts List" %> 

<%= link_to("<<Back to Menu", {:controller => 'access', :action => 'menu'}, :class => 'back-link') %>

<div class="post list"> 
  <h2>Posts</h2>

 <%= link_to("Add New Post", {:action => 'new'}, :class => 'action new') %>
  <table class="listing" summary="Post list">
    <tr class="header">
      <th>Post Position</th>
      <th>Post Name</th>
      <th>Visible</th>
      <th>Post Content</th>
      <th>Actions</th>
    </tr>
    <% @posts.each do |post| %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td><%= post.position %></td>
      <td><%= post.name %></td>
      <td><%= post.visible %></td>
      <td><%= post.content %></td>
       <td class="actions">
        <%= link_to("View Comments", post_comments_path(post), :class => 'action show') %>  
        <%= link_to("Show", {:action => 'show', :id => post.id}, :class => 'action show') %>
        <%= link_to("Edit", {:action => 'edit', :id => post.id}, :class => 'action edit') %>
        <%= link_to("Delete",{:action => 'delete', :id => post.id}, :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
