<table summary="Comment form fields">
  <tr>
    <th><%= f.label(:position) %></th>
    <td><%= f.text_field(:position) %></td>
  </tr>
  <tr>
    <th><%= f.label(:author, "Name") %></th>
    <td><%= f.text_field(:author) %></td>
  </tr>
  <tr>
    <th><%= f.label(:email) %></th>
    <td><%= f.text_field(:email) %></td>
  </tr>
  <tr>
    <th><%= f.label(:content) %></th>
    <td><%= f.text_field(:content) %></td>
  </tr>
</table>
